<section #entete class="global__background-white">
  <div class="global__container">
    <h2 class="global__title-underline">entete</h2>
  </div>
</section>
<section #avantages class="global__background-red">
  <div class="global__container">
    <h2 class="global__title-underline">avantages</h2>
  </div>
</section>
<section #expertises class="global__background-white">
  <div class="global__container">
    <h2 class="global__title-underline global__color-red">Expertises</h2>
    <div #expertiseContent>
      <fieldset>
        <legend class="font__marta">✔ ASSISTANCE ADMINISTRATIVE</legend>
        <ul>
          <li>Règlements factures, suivi notes de frais</li>
          <li>Planification d'agenda</li>
          <li>Rédaction de support (courriers, rapports etc...) </li>
          <li>Classement/archivage</li>
          <li>Négociation de contrats avec vos prestataires</li>
          <li>Suivi des achats moyens généraux</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend class="font__marta">✔ ASSISTANCE COMMERCIALE</legend>
        <ul>
          <li>Élaboration de devis, factures, avoirs</li>
          <li>Suivi des règlements, relances des impayés</li>
          <li>Mise à jour CRM</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend class="font__marta">✔ ASSISTANCE PRE-COMPTABLE & FINANCIÈRE</legend>
        <ul>
          <li>Rapprochements bancaires</li>
          <li>Consolidation de tableaux de bord </li>
          <li>Coordination avec l'expert comptable</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend class="font__marta">✔ AIDE A LA RELATION A L’INTERNATIONAL</legend>
        <ul>
          <li>- Traduction de document Français / Anglais</li>
          <li>- Interprète anglais</li>
        </ul>
      </fieldset>
    </div>
    <h2 class="global__color-red">3 raisons de choisir BaccOffice :</h2>
    <div>
      <h3>1</h3>
      <div>
        <p>Je vous donne les clés pour vous libérer de votre charge mentale et retrouver du temps pour exercer votre
          cœur
          de métier. Retrouvez enfin le chemin de la croissance! Déléguez moi les tâches à faible valeur ajoutée,
          chronophages et rébarbatives.</p>
      </div>
    </div>
    <div>
      <h3>2</h3>
      <div>
        <p>Grâce à mon soutien, vous allez enfin réussir à :</p>
        <ul>
          <li>Gagner du temps pour développer votre business.</li>
          <li>Gagner en sérénité pour vous recentrer sur votre cœur de métier.</li>
          <li>Gagner de l’argent, et optimiser votre rentabilité en n’ayant pas recours à un recrutement en CDD ou CDI
            d’une assistante.</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>3</h3>
      <div>
        <p>Une relation de proximité et de confiance :</p>
        <ul>
          <li>Zero intermédiaire : pas d'agences d’interim, pas d'agence de placement d’assistantes/office managers, il
            n’y a que vous et moi. </li>
          <li>Zéro préavis : Vous pouvez décider d’arrêter la mission à la fin du mois sans préavis. </li>
          <li>Zéro prise de tête : Possibilité de re-moduler après chaque fin de mois, suite à une baisse ou surcroit
            d'activité.</li>
          <li>Une facturation mensuelle transparente et juste : Seul le travail réellement effectué est facturé (et donc
            rémunéré), </li>
          <li>Une formule économique : aucun coût lié à un intermédiaire ou à un recrutement (congés payés, charges
            sociales/patronales etc...)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section #quisuisje class="global__background-red">
  <div class="global__container">
    <h2 class="global__title-underline">Qui suis-je ?</h2>
    <div>
      <p>Je suis Julie Bacconnier-Berjot, une petillante lyonnaise, curieuse, bienveillante et organisée!</p>
      <p>Dans mon cercle de proche, nombreux sont ceux qui ont une petite entreprise. Souvent, je les ai entendu se
        décourager à cause de tâches administratives, comptables et financières très importantes (leur back office), et
        peu de temps à y consacrer. </p>
      <p>Pendant le confinement, j’ai beaucoup réfléchi à comment apporter plus de sens à ma vie professionnelle. J’ai
        eu l’idée de profiter de tout ce temps libre pour me rendre utile et aider mes proches qui galèrent avec leur
        back office.</p>
      <p>Après avoir ressenti un besoin criant de la part de différents dirigeants, j’ai décidé de lancer BaccOffice, un
        service d’externalisation administrative pour les indépendants, start’ups et TPE afin de les aider à leur faire
        gagner du temps et de l'argent!</p>
    </div>
  </div>
</section>
<section #tarifs class="global__background-white">
  <div class="global__container">
    <h2 class="global__title-underline global__color-red">Tarifs</h2>
  </div>
</section>
<section #contact class="global__background-red">
  <div class="global__container">
    <h2 class="global__title-underline ">contacts</h2>
  </div>
</section>