<section id="expertness" class="global__background-white">
  <div class="global__container">
    <h2 class="global__color-red">Expertises</h2>
    <div id="expertiseContent">
      <fieldset>
        <h3 class="font__marta">
          CONSEILS OUTILS DIGITAUX</h3>
        <ul>
          <li>Etude des besoins</li>
          <li>Analyse du marché des outils Saas vs Besoins</li>
          <li>Négociation acteurs & intégration en interne</li>
          <li>Formations</li>
        </ul>
      </fieldset>
      <fieldset>
        <h3 class="font__marta">
          OPTIMISATION ADMINISTRATIVE</h3>
        <ul>
          <li>Gestion des factures, suivi notes de frais</li>
          <li>Recherche & négociation de contrats avec vos prestataires</li>
          <li>Audit des achats moyens généraux</li>
        </ul>
      </fieldset>
      <fieldset>
        <h3 class="font__marta">
          ASSISTANCE COMMERCIALE</h3>
        <ul>
          <li>Gestion des devis, factures, avoirs</li>
          <li>Suivi des règlements, relances des impayés</li>
          <li>Mise à jour de votre CRM</li>
        </ul>
      </fieldset>
      <fieldset>
        <h3 class="font__marta">
          GESTION PRE-COMPTABLE & FINANCIÈRE</h3>
        <ul>
          <li>Rapprochements bancaires /Consolidation de tableaux de bord </li>
          <li>Coordination avec l'expert comptable</li>
        </ul>
      </fieldset>
      <fieldset>
        <h3 class="font__marta">
          AIDE A LA RELATION A L’INTERNATIONAL</h3>
        <ul>
          <li>Traduction de document Français / Anglais</li>
          <li>Interprète anglais</li>
        </ul>
      </fieldset>
    </div>
    <h2 class="global__color-red">3 raisons de choisir BaccOffice :</h2>
    <div class="three-raisons first">
      <h3>1</h3>
      <div>
        <p>Je vous donne les clés pour vous libérer de votre charge mentale et retrouver du temps pour exercer votre
          cœur
          de métier. Retrouvez enfin le chemin de la croissance! Déléguez moi les tâches à faible valeur ajoutée,
          chronophages et rébarbatives.</p>
      </div>
    </div>
    <div class="three-raisons second">
      <h3>2</h3>
      <div>
        <p>Grâce à mon soutien, vous allez enfin réussir à :</p>
        <ul>
          <li>Gagner du temps pour développer votre business.</li>
          <li>Gagner en sérénité pour vous recentrer sur votre coeur de métier.</li>
          <li>Gagner de l’argent, et optimiser votre rentabilité en n’ayant pas recours à un recrutement en CDD ou CDI
            d’une assistante.</li>
        </ul>
      </div>
    </div>
    <div class="three-raisons third">
      <h3>3</h3>
      <div>
        <p>Une relation de proximité et de confiance :</p>
        <ul>
          <li>Zero intermédiaire : pas d'agences d’interim, pas d'agence de placement d’assistantes/office managers, il
            n’y a que vous et moi. </li>
          <li>Zéro préavis : Vous pouvez décider d’arrêter la mission à la fin du mois sans préavis. </li>
          <li>Zéro prise de tête : Possibilité de re-moduler après chaque fin de mois, suite à une baisse ou surcroit
            d'activité.</li>
          <li>Une facturation mensuelle transparente et juste : Seul le travail réellement effectué est facturé (et donc
            rémunéré), </li>
          <li>Une formule économique : aucun coût lié à un intermédiaire ou à un recrutement (congés payés, charges
            sociales/patronales etc...)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
