<header class="global__background-red">
  <nav role="navigation" class="global__container">
    <a href="/" title="Accueil">
      <img src="/assets/img/logoNoBackground.svg" />
    </a>
    <ul>
      <li><a href="/" title="Accueil">Accueil</a></li>
      <li><a href="/#expertises" title="Mes expertises dans la gestion">Expertises</a></li>
      <li><a href="/#quisuisje" title="Présentation de mes competences de gestionaire">Qui suis-je ?</a></li>
      <li><a href="/#tarifs" title="Tarif de prestation">Tarifs</a></li>
      <li><a href="/#contact" title="Reservez votre premier contact">Premier contact</a></li>
    </ul>
    <div class="quickcall-button">
      <a href="tel:+33673496572" title="Appeler Julie sur sont téléphone pro">
        <img src="/assets/img/picto/call.svg"/>
      </a>
      <a href="mailto:j.bacconnier@baccoffice.fr" title="Envoyer un email à Julie">
        <img src="/assets/img/picto/email.svg"/>
      </a>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer role="contentinfo" class="global__background-red">
  <p><a href="/mentions-legales" title="Mentions légales">Mentions légales</a> - Tous droits réservés à Julie Bacconnier-Berjot</p>
  <p>Siret 8888 1333 400 16</p>
</footer>
