<section id="prices" class="global__background-white">
  <div class="global__container">
    <h2 class="global__color-red">Une tarification claire</h2>
    <p>Pour vos besoins ponctuels (hors mise en place Outils), un coût horaire unique: </p>
    <p><strong>45€ HT</strong></p>
    <p>
      4 heures consécutives min.<br/>
      Intervention dans la France entière à distance / Lyon en présentiel<br/>
      Vos dépenses sont maîtrisées et optimisées.
    </p>
  </div>
  <div class="background-image">
    <div class="overlay">
      <h3>Forfaits Récurrences</h3>
      <fieldset>
        <h4>SERENITE</h4>
        <p>Intervention 1 jour /semaine</p>
        <p><strong>350€ HT/jour</strong></p>
        <p>soit 43,75€ HT / heure, journée de 8h</p>
      </fieldset>
      <fieldset>
        <h4>CONFORT</h4>
        <p>Intervention 2 jours /semaine</p>
        <p><strong>330€ HT/jour</strong></p>
        <p>soit 41,25€ HT / heure, journée de 8h</p>
      </fieldset>
      <p class="sub-text">TVA non applicable article 293B du CGI</p>
    </div>
  </div>
</section>
