<section id="presentation" class="global__background-red">
  <div class="global__container">
    <h2>Qui suis-je ?</h2>
    <div class="first-part">
      <div>
        <p>Je suis Julie Bacconnier-Berjot, une petillante lyonnaise, curieuse, bienveillante et organisée!</p>
        <p>Dans mon cercle de proche, nombreux sont ceux qui ont une petite entreprise. Souvent, je les ai entendu se
          décourager à cause de tâches administratives, comptables et financières très importantes (leur back office), et
          peu de temps à y consacrer. </p>
        <p>Pendant le confinement, j’ai beaucoup réfléchi à comment apporter plus de sens à ma vie professionnelle. J’ai
          eu l’idée de profiter de tout ce temps libre pour me rendre utile et aider mes proches qui galèrent avec leur
          back office.</p>
        <p>Après avoir ressenti un besoin criant de la part de différents dirigeants, j’ai décidé de lancer BaccOffice, un
          service d’externalisation administrative pour les indépendants, start’ups et TPE afin de les aider à leur faire
          gagner du temps et de l'argent!</p>
      </div>
      <img src="/assets/img/portrait2.png" alt="Portrait en buste de Julie Bacconnier-Berjot"/>
    </div>
    <ul>
      <li>
        <img src="/assets/img/picto/award.svg" aria-hidden="true"/>
        <p>
          Un master 2 en droit & gestion, 
          10 ans d'experience en gestion de projet et en gestion administrative dans 
          le secteur du tourisme et de l'évenementiel, bilingue anglais
        </p>
      </li>
      <li>
        <img src="/assets/img/picto/wrench.svg" aria-hidden="true"/>
        <p>
          Une maitrise des outils bureautiques actuels et en constante formation 
          sur les évolutions digitales: Monday, Trello, Notion, etc... Les SaaS n'ont plus de secret pour moi!
        </p>
      </li>
      <li>
        <img src="/assets/img/picto/approval.svg" aria-hidden="true"/>
        <p>
          Des tests réguliers effectués sur des versions d'essai ou Bêta d'outils de gestion, 
          pour mieux vous conseiller sur des intégrations possibles au niveau interne.
        </p>
      </li>
    </ul>
  </div>
</section>
