<section id="contact" class="global__background-red">
  <div class="global__container">
    <div class="left-side" aria-hidden="true"></div>
    <div class="right-side">
      <h2>AUDIT GRATUIT</h2>
      <p>Vous voulez déléguer pour vous concentrer sur votre cœur de métier ?</p>
      <p>Prenez rendez avec moi sans plus attendre pour bénéficier d’un audit gratuit de 45 
      minutes au cours duquel vous m&#39;expliquez vos problématiques.</p>
      <a href="https://calendly.com/baccoffice/appel-decouverte">JE BENEFICIE D’UN AUDIT GRATUIT</a>
      <p><i>Cet appel est gratuit et sans engagement.</i></p>
    </div>
  </div>
</section>
