<section id="advantages" class="global__background-red">
  <div class="global__container">
    <p>Je suis Julie, votre office manager indépendante, opérationnelle immédiatement, pour vous épauler dans votre structure, pour vous faire gagner du temps et de l’argent.</p>
    <ul>
      <li>
        <img src="/assets/img/picto/launch.svg" aria-hidden="true"/>
        <p>
          <b>Réactivité & Flexibité</b><br/>
          Intervention selon vos besoins et votre timing.
        </p>
      </li>
      <li>
        <img src="/assets/img/picto/assignment.svg" aria-hidden="true"/>
        <p>
          <b>Polyvalence</b><br/>
          Compétences applicables sur plusieurs domaines.
        </p>
      </li>
      <li>
        <img src="/assets/img/picto/hourglass.svg" aria-hidden="true"/>
        <p>
          <b>Economie de temps</b><br/>
          Recentrage sur vos coeurs d'activité, aucun process de recrutement interne
        </p>
      </li>
      <li>
        <img src="/assets/img/picto/savings.svg" aria-hidden="true"/>
        <p>
          <b>Rentabilité maîtrisée</b><br/>
          Frais de service déductibles, pas de charges salariales/patronales (ni congés payés)
        </p>
      </li>
    </ul>
    <p>Ce service s'adresse aux <strong>indépendants, start'ups & TPE</strong> qui veulent faire passer leur croissance à un niveau supérieur.<p>

    <p>mais qui n'ont pas le temps de structurer leur gestion interne.<br/>
    mais qui n'ont pas les moyens de recruter des personnes compétentes pour les soulager au quotidien</p>
  </div>
</section>
